/* @import "lightgallery/css/lightgallery.css";
@import "lightgallery/css/lg-zoom.css";
@import "lightgallery/css/lg-thumbnail.css"; */

.lg-container{
  pointer-events: auto !important;
}

.lg-thumb-outer{
 background-color: rgba(0, 0, 0, 0.304) !important;
}

.lg-backdrop {
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
  background-color: rgba(15, 23, 42, 0.75) !important;
}

@tailwind components;
@tailwind utilities;
